<body>
  <div class="pokedex-title">The Original Pokedex</div>
  <div id="sprites">
    <%= link_to image_tag("http://img.pokemondb.net/sprites/black-white/anim/normal/pikachu.gif") %>
  </div>
</body>
