<body>
  <div class="pokedex-title">
    <p id="title">The Original Pokedex</p>
  </div>
  <div id="sprites">
    <% if @pokemon.number < 152 %>
      <% @pokemons.each do |pokemon| %>
        <%= link_to image_tag("http://img.pokemondb.net/sprites/black-white/normal/" +  pokemon.name.tr('[]', '').gsub(/[""]/, '') + ".png"), pokemon_path(pokemon) %>
      <% end %>
    <% end %>
  </div>
</body>
