<body>
  <div class="pokedex-title">
    <p id="title">The Original Pokedex</p>
  </div>
  <div id="sprites">
    <% @pokemons.each do |pokemon| %>
      <%= image_tag("http://img.pokemondb.net/sprites/black-white/normal/" + <%= pokemon.name.tr('[]', '').gsub(/[""]/, '') %> + ".png") %>
    <% end %>
  </div>
</body>
