body {
  background: -webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("http://cdn.bulbagarden.net/upload/d/d4/FRLG_Kanto.png");
  background: -moz-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("http://cdn.bulbagarden.net/upload/d/d4/FRLG_Kanto.png");
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("http://cdn.bulbagarden.net/upload/d/d4/FRLG_Kanto.png");
  background-size: 1200px 760px;
}

.pokedex-title {
  font-family: 'Pokemon Hollow';
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  border-top: 5px red solid;
  border-bottom: 5px white solid;
  border-radius: 10em;
  padding-left: 15px;
  padding-right: 15px;
}

#sprite {
  display: block;
}

#pokename {
    height: 50px;
    width: 200px;
    text-align: center;
    color: white;
    padding-top: 8px;
    position: absolute;
}
