@import url(https://fonts.googleapis.com/css?family=Titillium+Web:600,700);

#pokemon-name {
  font-size: 40px;
  color: white;
  text-align: center;
  font-family: 'Titillium Web';
}

.single-sprite {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

#back a {
  color: white;
  font-family: 'Titillium Web';
  margin: 0 auto;
}
